@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 100%;

        @media screen(2xl) {
            font-size: 90%;
        }

        @media screen(xl) {
            font-size: 80%;
        }

        @media screen(lg) {
            font-size: 70%;
        }

        @media screen(md) {
            font-size: 60%;
        }

        @media screen(sm) {
            font-size: 50%;
        }
    }

    body {
        @apply font-body;
        @apply text-base;
        @apply text-paper-contrast;
        @apply bg-paper-primary;
    }
}

@font-face {
    font-family: "Unbounded";
    font-weight: 400;
    src: local("Unbounded"),
        url("./shared/assets/fonts/Unbounded-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded";
    font-weight: 500;
    src: local("Unbounded"),
        url("./shared/assets/fonts/Unbounded-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded";
    font-weight: 600;
    src: local("Unbounded"),
        url("./shared/assets/fonts/Unbounded-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded";
    font-weight: 700;
    src: local("Unbounded"),
        url("./shared/assets/fonts/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Unbounded";
    font-weight: 900;
    src: local("Unbounded"),
        url("./shared/assets/fonts/Unbounded-ExtraBold.woff2") format("woff2");
}

[data-theme="dark"] {
    --primary-color: 255 192 105;
    --secondary-color: 105 168 255;
    --accent-color: 183 79 111;
    --error-color: #b00020;
    --success-color: #4bb543;
    --primary-color-contrast: #000000;
    --secondary-color-contrast: #000000;
    --accent-color-contrast: 255 255 255;
    --paper-primary: 0 0 0;
    --paper-secondary: #0d0d0d;
    --paper-contrast: 255 255 255;
    --home-bg: url("./shared/assets/topography/dark.svg");
}

[data-theme="light"] {
    --primary-color: 230 173 95;
    --secondary-color: 105 168 255;
    --accent-color: 183 79 111;
    --error-color: #b00020;
    --success-color: #4bb543;
    --primary-color-contrast: #000000;
    --secondary-color-contrast: #000000;
    --accent-color-contrast: 255 255 255;
    --paper-primary: 255 255 255;
    --paper-secondary: #f2f2f2;
    --paper-contrast: 0 0 0;
    --home-bg: url("./shared/assets/topography/light.svg");
}

[data-theme="night"] {
    --primary-color: 58 191 248;
    --secondary-color: 130 141 248;
    --accent-color: 244 113 181;
    --error-color: #b00020;
    --success-color: #4bb543;
    --primary-color-contrast: #000000;
    --secondary-color-contrast: #000000;
    --accent-color-contrast: 0 0 0;
    --paper-primary: 15 23 41;
    --paper-secondary: #192644;
    --paper-contrast: 255 255 255;
    --home-bg: url("./shared/assets/topography/night.svg");
}

[data-theme="dracula"] {
    --primary-color: 255 122 198;
    --secondary-color: 191 149 249;
    --accent-color: 255 184 107;
    --error-color: #b00020;
    --success-color: #4bb543;
    --primary-color-contrast: #000000;
    --secondary-color-contrast: #000000;
    --accent-color-contrast: 0 0 0;
    --paper-primary: 39 41 53;
    --paper-secondary: #353848;
    --paper-contrast: 255 255 255;
    --home-bg: url("./shared/assets/topography/dracula.svg");
}
